# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dll
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
*.exe
*.ipch
*.db
src/ClipCutter/.vs/ClipCutter/v17/.suo
*.tlog
*.recipe
*.log
*.iobj
*.ipdb
src/ClipCutter/x64/Release/ClipCutter.vcxproj.FileListAbsolute.txt
*.pdb
*.dat
