# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Various types
*.exe
*.out
*.app
*.ipch
*.db-wal
*.db-shm
*.db
*.opendb
*.tlog
*.pdb
*.recipe
*.iobj
*.log
*.ipdb
*.idb
*.ilk
*.idb
*.enc
*.res
*.vsidx
*.lock


#Various directories
/src-old/.vs
/src/ClipCutter/release
/src/ClipCutter/debug
/bin
src/ClipCutter/ClipCutter.pro.user
*.user
src/ClipCutter/.qmake.stash
